STOP,None, ,None, 
RESET_GYRO,None, ,None, 
WAIT,Numeric,Time (Seconds),None, 
ROTATE,Numeric,Degrees,None, 
ALIGN_TO_LIFTER,None, ,None, 
SHOOT_HIGH,Numeric,Time (Seconds),None, 
STRAFE_RIGHT,Numeric,Distance (Inches),None, 
STRAFE_LEFT,Numeric,Distance (Inches),None, 
DRIVE,Numeric,Distance (Inches),None, 
